#chat {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 26rem;
  width: 32rem;
  border: 1px solid #696670;
  overflow: hidden;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 0 1rem black;
}

#chat-userlist {
  background-color: #3d3948;
  border-right: 1px solid #48454e;
  width: 12rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#chat-userlist .user {
  cursor: pointer;
  line-height: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
  border-bottom: 1px solid #4a4850;
}
#chat-userlist .user.selected {
  background-color: #0b87bd;
}
#chat-userlist .user p {
  pointer-events: none;
}

#chat .right {
  flex: 2;
  position: relative;
}

#chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  height: 2rem;
  font-size: 1rem;
  background-color: #322f3a;
  color: white;
  font-family: 'Poppins', 'sans serif';
  height: 2.3rem;
  outline: none;
  border: none;
  padding: 0 0.5rem;
}

#chat-msg-container {
  position: relative;
  height: 22rem;
}
#chat .messages {
  left: 0;
  right: 0;
  padding: 0.9rem;
  height: 100%;
  overflow: auto;
}
#chat .messages.hidden {
  display: none;
}

#chat .message {
  display: flex;
}

#chat .message > p {
  background-color: #3d3948;
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
}
#chat .message:not(:last-child) > p {
  margin-bottom: 0.3rem;
}
#chat .message.mine {
  justify-content: flex-end;
}
#chat .message.mine > p {
  background-color: #0a9bda;
}
