@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #55bbff;
  color: black;
}

body {
  background-color: #1a1c21;
  color: #ffffff;
  font-family: 'Poppins', 'sans serif';
  overflow-x: hidden;
}

:root {
  --CENTER-WIDTH: 50rem;
}

#main {
  width: 100%;
  display: flex;
  position: relative;
}

#main > :is(.right, .left) {
  flex: 1;
}

#main > .center {
  width: var(--CENTER-WIDTH);
}
