.center {
  padding: 0 0.8rem;
  position: relative;
}

#recruitment .category {
  width: fit-content;
  height: 2rem;
  margin: 0.4rem 0;
}

#recruitment .profile-pic {
  --SIZE: 7.6rem;
  border-radius: 1000px;
  position: absolute;
  right: 0.5rem;
  width: var(--SIZE);
  height: var(--SIZE);
}

#recruitment .title {
  margin-top: 2rem;
  font-size: 3.1rem;
  padding-right: 7rem;
  line-height: 110%;
}
#recruitment .infos {
  color: #7b7d8d;
  margin-top: 0.25rem;
}
#recruitment a {
  color: inherit;
}

#recruitment .description {
  margin-top: 1rem;
}

hr {
  margin: 2.5rem 0 1rem;
  border-color: #7b7d8d;
}

h2 {
  font-weight: 600;
}

.application {
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

.application .profile-pic {
  --SIZE: 4rem;
  border-radius: 1000px;
  width: var(--SIZE);
  height: var(--SIZE);
}

.application.status-1 .status::after {
  content: ' refusé';
  color: #ff4747;
}
.application.status0 .status::after {
  content: ' en attente';
  color: #acc9ff;
}
.application.status1 .status::after {
  content: ' accepté';
  color: #47ff7e;
  font-weight: 600;
}
.application .infos {
  display: flex;
}
.application .infos span {
  margin-left: 1rem;
}
.application .infos span > :not(:first-child) {
  line-height: 110%;
  color: #7b7d8d;
  font-size: 0.9rem;
}

#postulate-form textarea {
  resize: vertical;
  width: 100%;
  min-height: 8rem;
  font-size: 1rem;
  font-family: 'Poppins', 'sans serif';
  color: white;
  background-color: #c8c9e628;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  margin-top: 0.8rem;
  padding: 0.2rem 0.5rem;
}
#postulate-form textarea:focus {
  border: 2px solid #55bbff;
}
#postulate-form input[type='submit'] {
  margin-top: 0.3rem;
  font-size: 1rem;
  width: 15rem;
  height: 2.5rem;
  border-radius: 1000px;
  border: none;
  outline: none;
  background-color: #55bbff;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#postulate-form input[type='submit']:focus {
  border: 2px solid #ffffff;
}

.selectors {
  position: absolute;
  margin-top: 0.8rem;
  right: 0;
  transition: opacity 300ms;
  opacity: 0;
  pointer-events: none;
}
.application.status0 .selectors:not(.hidden) {
  opacity: 1;
  pointer-events: all;
}
.selectors :is(.icon, image) {
  --SIZE: 2rem;
  width: var(--SIZE);
  height: var(--SIZE);
  margin-left: 0.6rem;
  cursor: pointer;
}
