:root {
  --TOPBAR-HEIGHT: 4.5rem;
}

#topbar {
  position: fixed;
  z-index: 15;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3948;
  height: var(--TOPBAR-HEIGHT);
  border-bottom: 1px solid #5b5862;
  box-shadow: 0 0 1.5rem black;
}
#topbar-ghost {
  height: var(--TOPBAR-HEIGHT);
}

#topbar :is(.logo, svg.logo > image) {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  margin: 0 2rem;
}

#topbar .search-bar {
  position: relative;
  max-width: 30rem;
  flex: 1;
  height: 2.8rem;
  display: flex;
  align-items: center;
}
#topbar .search-bar :is(.icon, svg.icon > image) {
  --size: 1.15rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
}
#topbar .search-bar .mag-glass {
  left: 1.1rem;
}
#topbar .search-bar .arrow-right {
  right: 1.2rem;
  cursor: pointer;
}
#topbar .search-bar input {
  border-radius: 1000px;
  outline: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0 2.5rem 0 2.8rem;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins', 'sans serif';
  box-sizing: border-box;
}
#topbar .search-bar input:focus {
  border: 3px solid #00b2ff;
}
