:root {
  --TOPBAR-HEIGHT: 4.5rem;
}

#topbar {
  position: fixed;
  z-index: 15;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3948;
  height: var(--TOPBAR-HEIGHT);
  border-bottom: 1px solid #5b5862;
  box-shadow: 0 0 1.5rem black;
}
#topbar-ghost {
  height: var(--TOPBAR-HEIGHT);
}

#topbar :is(.logo, svg.logo > image) {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  margin: 0 2rem;
}

#topbar .search-bar {
  position: relative;
  max-width: 30rem;
  flex: 1;
  height: 2.8rem;
  display: flex;
  align-items: center;
}
#topbar .search-bar :is(.icon, svg.icon > image) {
  --size: 1.15rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
}
#topbar .search-bar .mag-glass {
  left: 1.1rem;
}
#topbar .search-bar .arrow-right {
  right: 1.2rem;
  cursor: pointer;
}
#topbar .search-bar input {
  border-radius: 1000px;
  outline: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0 2.5rem 0 2.8rem;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins', 'sans serif';
  box-sizing: border-box;
}
#topbar .search-bar input:focus {
  border: 3px solid #00b2ff;
}

/* User Menu */

#user-menu {
  position: fixed;
  right: 0;
  z-index: 5;
  width: 20rem;
  background-color: #222429;
  border: 1px solid #5b5862;
  box-shadow: 0 0 1rem black;
  overflow: hidden;
  border-bottom-left-radius: 1.5rem;

  --TRANSITION: 520ms ease-in-out;
}
#user-menu.hidden {
  transform: translateY(-105%);
}
#user-menu.with-transition {
  transition: transform var(--TRANSITION);
}

#user-menu-ghost {
  transition: height var(--TRANSITION);
}

#user-menu > :not(#user-menu-ghost) {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2.4rem 1.5rem;
  transform: translateX(-100%);
  transition: transform var(--TRANSITION);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#user-menu > :not(#user-menu-ghost).proper-pos {
  transform: translateX(0);
}
#user-menu > :not(#user-menu-ghost).hidden-pos {
  transform: translateX(100%);
}

#user-menu .input {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
}
#user-menu input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 1000px;
  border: none;
  outline: none;
}
#user-menu input:focus {
  border: 2px solid #00b2ff;
}
#user-menu :is(input[type='submit'], button) {
  cursor: pointer;
  outline: none;
}
#user-menu input[type='submit'] {
  width: auto;
  padding: 0 2rem;
  background-color: #00b2ff;
  color: white;
  font-weight: 600;
}
#user-menu input[type='submit']:focus {
  border: 2px solid #ffffff;
}
.signup-instead,
.login-instead {
  border: none;
  background: none;
  color: #9b99a8;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
:is(.signup-instead, .login-instead):focus {
  color: white;
}

/* Placeholders */

#user-menu .placeholder {
  position: absolute;
  color: #0000008a;
  font-size: 0.9rem;
  left: 3.5rem;
  pointer-events: none;
  user-select: none;

  transition: 200ms ease-in-out;
}
#user-menu .placeholder.above {
  transform: translate(-0.2rem, -1.6rem);
  font-size: 0.7rem;
  color: #ffffff81;
}
#user-menu-connected button {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.15rem;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid #9a9ca846;
}
#user-menu-connected button:last-child {
  border-bottom: none;
  padding-bottom: 0.2rem;
}
#user-menu-connected button:first-child {
  padding-top: 0.5rem;
}
#user-menu-connected button :is(svg, svg > image) {
  --SIZE: 2.2rem;
  width: var(--SIZE);
  height: var(--SIZE);
  position: absolute;
  right: 2.2rem;
}
